body,
html {
  height: 100%;
  width: 100%;
}

html {
  overflow-y: scroll;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

ul.nav.navbar-nav.ml-auto.w-100.justify-content-end {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding-left: 3px;
  padding-right: 3px;
}

.navbar {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(236, 244, 255, 0.781)
  );
}
/*
a:hover {
  background-size: 4px 50px;
}
*/

a.nav-link {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(0, 198, 224),
    rgb(0, 121, 190) 50%,
    rgb(0, 29, 37) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.footer a,
.contact > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(0, 198, 224),
    rgb(0, 121, 190) 50%,
    rgb(255, 255, 255) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

a :not(.card) > a :not(.footer) > a,
h1 > a,
h2 > a,
h3 > a,
.certLink > a,
li > a,
p > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(109, 238, 255),
    rgb(0, 129, 161) 50%,
    rgb(129, 196, 252) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

a:hover {
  background-position: 0 100%;
}
.text {
  background-color: rgb(224, 224, 224);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  border: 7px solid rgb(113, 196, 252);
  /*border: 7px solid rgba(226, 11, 11, 0.932);*/
  background-color: white;
}
.img1 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );*/
  background-image: url("atanas-teodosiev-EzoGykQmUYI-unsplash.jpg");
  /*background-image: url("joe-woods-4Zaq5xY5M_c-unsplash.jpg");*/
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .img1 {
    background-attachment: inherit;
  }
}

.img2 {
  /*
  background-image: linear-gradient(
    to right,
    rgba(124, 124, 124, 0),
    rgb(219, 219, 219)
  );
  */
  background-image: url("josh-rose-trYl7JYATH0-unsplash.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img2 {
    background-attachment: inherit;
  }
}

.img3 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("david-werbrouck-RfXv1snaYEI-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img3 {
    background-attachment: inherit;
  }
}

.img4 {
  background-image: linear-gradient(
    to right,
    rgba(124, 124, 124, 0),
    rgb(189, 189, 189)
  );
  /*background-image: url("anna-pelzer-QcUJLRMDryQ-unsplash.jpg");*/
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

@media screen and (max-width: 768px) {
  .img5 {
    background-attachment: inherit;
  }
}

.img5 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("jared-arango-1-mh6U3qeGQ-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img6 {
    background-attachment: inherit;
  }
}

.img6 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("boris-stefanik-wxJscL5ZzDA-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .img7 {
    background-attachment: inherit;
  }
}

.img7 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("adolfo-felix-4JL_VAgxwcU-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .img8 {
    background-attachment: inherit;
  }
}

.img8 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .img9 {
    background-attachment: inherit;
  }
}

.img9 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("giammarco-xLhKkk2tKkA-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .img10 {
    background-attachment: inherit;
  }
}

.img10 {
  /*
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgba(124, 124, 124, 0)
  );
  */
  background-image: url("adam-birkett-_IrFSypwykg-unsplash.jpg");
  padding-top: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img11 {
  /*
  background-image: linear-gradient(
    to right,
    rgba(124, 124, 124, 0),
    rgb(219, 219, 219)
  );
  */
  background-image: url("joshua-rivera-usmhPmT5sj0-unsplash.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img11 {
    background-attachment: inherit;
  }
}

.text {
  background-color: rgb(250, 248, 248);
  font-size: 37px;
  font-family: Ubuntu;
  border-width: 5px;
  border: 0;
  box-shadow: inset 0px 15px 10px -10px #8c8c8c;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #060922;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
  z-index: 5;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
  z-index: 5;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

* {
  box-sizing: border-box;
}

.item {
  border-radius: 25px;
  border: 3px solid rgb(255, 68, 68);
  width: 100%;
  height: 125px;
  margin: 50px auto;
  padding-top: 10px;
  padding-right: 50px;
  background: rgb(224, 224, 224);
  color: rgb(31, 31, 31);
  font-size: 2em;
  font-family: Ubuntu;
  text-align: center;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 10px;
  border-style: inset;
  border-width: 1px;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

.certHr {
  background-color: black;
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0em;
  padding-top: 0px;
  border-style: inset;
  border-width: 1px;
  height: 0px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

.row {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.block {
  width: 100px;
}

.card {
  display: inline-block;
}

.collapsible {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border: 2px;
  border-color: black;
  outline: none;
}

.active,
.collapsible:hover {
  background-color: rgb(255, 255, 255);
}

.content {
  padding: 20px 20px;
  display: none;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(227, 239, 255, 0.781)
  );
  border-radius: 10px;
  border: 2px;
  border-color: black;
}

.certLink {
  color: white;
}

.certLink:hover {
  color: #75acff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #75acff;
  text-decoration: none;
  cursor: pointer;
}

#imgLink {
  color: black;
}

#imgLink:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  color: #75acff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

#thmBadge:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  color: #75acff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.35);
  animation: bright-animation 2s infinite;
}

#thmBadge {
  border-radius: 10%;
  opacity: 0.8;
  /*animation: bright-animation 3s infinite;
  animation: pulse-animation 3s infinite;
  
  &:hover {
    animation-play-state: paused;
  }
  */
}

@keyframes bright-animation {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1.7);
  }
  100% {
    filter: brightness(0.7);
  }
}

.badgeCard {
  display: inline-block;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(113, 196, 252);
}
/*-------- THM Hover tooltips --------------*/

/* -------- Badge Hover --------------------*/

/*#box-wrap{
  align-items: center;
  justify-content: center;
}

#box-wrap:hover #thmBadge {
  filter: blur(3px);
  opacity: 0.8;
  transform: scale(1);
  box-shadow: none;
  z-index: 100;
}
#box-wrap:hover #thmBadge:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  transform: scale(1.5);
}
*/
/* ------------ Footer -------------------*/
.footer {
  background-color: #060922de;
  color: white;
  text-align: center;
  width: 100%;
}
